{{ define "content" }}

<form action="/contact/{{ .id }}/edit" method="post">
  <fieldset>
    <legend>Contact Values</legend>
    <div class="table rows">
      <p>
        <label for="email">Email</label>
        <input
          name="email"
          id="email"
          type="text"
          hx-get="/contacts/email"
          hx-target="next .error"
          hx-trigger="change, keyup delay:200ms changed" 
          placeholder="Email"
          value="{{ .email }}"
        />
        <span class="error">{{ .errors.email }}</span>
      </p>
      <p>
        <label for="first">First Name</label>
        <input
          name="first"
          id="first"
          type="text"
          placeholder="First Name"
          value="{{ .first }}"
        />
        <span class="error">{{ .errors.first }}</span>
      </p>
      <p>
        <label for="last">Last Name</label>
        <input
          name="last"
          id="last"
          type="text"
          placeholder="Last Name"
          value="{{ .last }}"
        />
        <span class="error">{{ .error.last }}</span>
      </p>
      <p>
        <label for="phone">Phone</label>
        <input
          name="phone"
          id="phone"
          type="text"
          placeholder="Phone"
          value="{{ .phone }}"
        />
        <span class="error">{{ .errors.phone }}</span>
      </p>
    </div>
    <button>Save</button>
  </fieldset>
</form>

<button id="delete-btn"
  hx-delete="/contact/{{ .id }}" 
  hx-confirm="Are you sure you want to delete this contact?"
  hx-push-url="true">
    Delete Contact
  </button>

<p>
  <a href="/contacts">Back</a>
</p>

{{ end }}
