{{ define "content" }}
<p>
    <a href="/contacts/new">Add Contact</a>
    <!-- could not use the lazy load because of multiple requests  -->
    <span>({{ .count }} total Contacts)</span>
</p>

<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Contacts </label>
    <input id="search" 
      type="search" 
      name="q"  
      value="{{ .search }}" 
      hx-get="/contacts" 
      hx-trigger="search, keyup delay:200ms changed"
      hx-target="tbody"
      hx-push-url="true"
      hx-indicator="#spinner"
      />
      <input type="submit" value="Search" />
      <img 
        style="height: 20px" 
        id="spinner" 
        class="htmx-indicator" 
        src="/web/img/spinning-circles.svg"/>
       
</form>   

{{if .contacts}}
<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{ block "rows" . }} 
            default 
        {{ end }} 

        {{ if eq (len .contacts) 10 }}
        <tr>
          <td colspan="5" style="text-align: center">
          <button
            hx-target="closest tr"
            hx-swap="outerHTML show:bottom"
            hx-select="tbody > tr"
            {{ if .search }}
              hx-get="/contacts?q={{ .search }}&page={{ .next }}"
            {{ else }}
              hx-get="/contacts?page={{ .next }}"
            {{ end }}
            >
            More
            </button>
          </td>
        </tr>
        {{ end }}
    </tbody>
</table>


{{else}}
<p>No contacts found!</p>
{{end}}

{{ end }}
